@charset "UFT-8";
@font-face {
    font-family: RustedOrlando;
    src: url(Fontes/Rusted\ Orlando\ Sans\ Demo.otf) format('opentype');
}

@font-face {
    font-family: ImFell;
    src: url(Fontes/FeDPit2.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    background-color: white;
}

header {
    font-family: RustedOrlando, sans-serif, serif;
    font-size: x-large;
    background-color: black;
    color: white;
    text-align: center;
    width: 500px;
    margin: auto;
    letter-spacing: 5px;
    padding-top: 10px;
}

header > p {
    font-family: ImFell, sans-serif, serif;
    font-size: small;
    letter-spacing: 0px;
}

main {
    background-color: rgb(196, 196, 196);
    white-space: pre-line;
    font-family: ImFell, sans-serif, serif;
}

img {
    background: black;
}
